#Create-new-questionaire-button{
  margin-left: auto;
  margin-right: 40px;
  display: flex;
}

.body {background-color: #D9D9D9}


.new-question-button{
  border: 0ch;
  background-color: rgba(0,0,0,0) ;
}