.QuestionaireTemplatesTable {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10rem;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #CCCCCC;
    text-align: left;
    padding: 8px;
    font-size: 18px;
  }
  
  th {
    background-color: FFFFFF;
  }
  
  td {
    background-color: FFFFFF;
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 28px;
  }